.land{
  width: 100%;
  height: 100vh;
  background: url(../../assets/img/landingDog.gif) center fixed;
  background-size: cover; 
}

.container{
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 30%;
  margin: 20px;
  font-family: 'Summer in December';
  text-shadow: 0 0 5px #f5f5dc;
  color: #7df2f0;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width:0.5px; 
  font-size: 3vw; 
  letter-spacing: 1px;
}


:root {
  --clr-neon: #7df2f0;
  --clr-bg: #ffffff;
}
.neon_button {
  font-size: 46px;
  margin: 20px;
  display: inline-block;
  color: var(--clr-neon);
  border: var(--clr-neon) 3px solid;
  padding: 10px 10px;
  border-radius: 10px;
  text-shadow: 0 0 0.125em #031a544d, 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  text-decoration: none;
}

.neon_button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon_button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  color: black;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon_button:hover,
.neon_button:focus {
  color: black;
  text-shadow: none;
  cursor: url(../../assets/img/Huella.png), auto;
}

.neon_button:hover::before,
.neon_button:focus::before {
  opacity: 1;
}
.neon_button:hover::after,
.neon_button:focus::after {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
  }

  .neon_button {
    font-size: 6vw;
    padding: 2vw 2vw;
  
  }
}

  
 